<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">    
    
    <title>Item Details</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}
<body>

{% set navigation_bar = [
    ('/recipe', 'recipes', 'Recipes'),
    ('/ingredient', 'ingredients', 'Ingredients'),
    ('#', 'menus', 'Menus'),
] -%}

{% set active_page = active_page|default('none') -%}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu editor</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% for href, id, caption in navigation_bar %}
            <li class="nav-item">
              <a class="nav-link{% if id == active_page %} active{% endif%}" aria-current="page" href="{{href}}" >{{caption}}</a>
            </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</nav>
    
    
    
    
<main role="main">

<div class="container">    

{% block content %}{% endblock %}
    
</div>
</main>
</body>

</html>