{% extends "layout.html" %}

{% block javascript %}
    <script>
        var menu = {{menu|safe}};
        const url = "/api/menu/{{menu.doc_id or -1}}";
        const doc_id = {{menu.doc_id or -1}};
        const units = {{units|safe}};
        const ratings = {{ratings|safe}};
    </script>
    <script src="{{ url_for('static', path='/menu_detail.js') }}"></script>
{% endblock %}


{% block content %}

<div class="form-group mb-2">
  <label for="nameinput">Name:</label>
  <h2>
      <input type="text" data-bind="value: name" class="form-control" id="nameinput" />
  </h2>
</div>

<div class="form-group mb-2">
    <label for="ratinginput">Rating:</label>
    <select class="form-control" data-bind="options: ratings, value: rating" id="ratinginput" >
    </select>
</div>
    

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Opskrifter</h2></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info" data-bind="click: debug"></i>debug</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info" data-bind="click: addRecipe"><i class="fa fa-plus"></i>Tilføj</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Mængde</th>
                <th>Enhed</th>
                <th>Ugedage</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: recipes">

            <tr data-bind="foreach: $parent.days">
                <td class="form-check form-check-inline">
                    <input type="checkbox" value=$data data-bind="checked: days, value: $data" />
                    <label class="form-check-label" for=$data data-bind="text: $data" />
                </td>
            </tr>


            <div data-bind="foreach: parts">
                <tr>
                    <td>
                        <input type="text" class="form-control" data-bind="value: $data.ingredient"/>
                    </td>
                    <td>
                        <input type="number" class="form-control" data-bind="value: $data.amount"/>
                    </td>
                    <td>
                        <select class="form-control" data-bind="options: units, value: $data.unit"></select>
                    </td>
                    <td>
                        <td><a data-bind="click: $parent.removeRecipe"><i class="material-icons">&#xE872;</i></a></td>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>



<script type="text/javascript">


function AppViewModel() {
    var self = this;
    
    self.doc_id = doc_id;
    self.name = ko.observable(menu.name);
    self.rating = ko.observable(menu.rating);
    self.recipes = ko.observableArray(menu.menus);

    self.units = ko.observable(units);
    self.ratings = ko.observable(ratings);
    self.days = ko.observable(["mon", "tue", "wed", "thu", "fri", "sat", "sun"]);
    
    self.addRecipe = function() {
        self.recipes.push(
            {
                recipe: { ingredient:"-", amount:0, unit:"g", days:[]},
                day: [],
            }
        );
    };

    self.typify_recipe = function (rec) {
        rec.recipe.amount = parseFloat(rec.recipe.amount);
        return rec;
    }
    self._recipes = function () {
            var recs = ko.toJS(self.recipes).map(self.typify_recipe);
            return recs;
        }
    self.to_dict = function () {
        return {
            name: ko.toJS(self.recipes),
        };
    }

    self.debug = function() {
        console.log(self.to_dict());
    };
 
    self.removeRecipe = function() {
        self.recipes.remove(this);
    }
}
 
ko.applyBindings(new AppViewModel());
</script>

{% endblock %}