{% extends "layout.html" %}

{% block javascript %}
    <script>
        var recipe = {{recipe|safe}};
        const url = "/api/recipe/{{recipe.doc_id or -1}}";
    </script>
    <script src="{{ url_for('static', path='/submit_recipe.js') }}"></script>
{% endblock %}


{% block content %}


<div class="form-group mb-2">
  <label for="nameinput">Name:</label>
    <h2>
  <input type="text" id="nameinput" name="name" value="{{recipe.name }}" class="form-control" >
        </h2>
</div>

<div class="form-group mb-2">
  <label for="placementinput">Placement:</label>
  <input type="text" id="placementinput" name="placement" value="{{recipe.placement }}">
</div>

<div class="form-group mb-2">
  <label for="ratinginput">Rating:</label>
  <select id="ratinginput" name="rating">
    {% for rat in ratings %}
        <option value={{rat}} {{"selected" if recipe.rating==rat else ""}}>{{rat}}</option>
    {%endfor%}
  </select>
</div>
    


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Ingredienser</h2></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Tilføj</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ingrediens</th>
                <th>Mængde</th>
                <th>Enhed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<button type="submit" class="btn btn-primary mb-2 update">Update</button>







{% endblock %}