<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <title>
        Weekplanner
    </title>
    {% endblock %}
  </head>
  <body>

    <div class="container">
    <div class="columns">
        <div class="column col-3"></div>
        <div class="column col-6">
            <header class="navbar">
                <section class="navbar-section">
                    <a href="/shopping" class="btn btn-link">Indkøb</a>
                    <a href="/ingredients" class="btn btn-link">Ingredienser</a>
                    <a href="/recipes" class="btn btn-link">Opskrifter</a>
                    <a href="/menus" class="btn btn-link">Menuer</a>
                </section>
                </header>
            
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                        

        </div>
        <div class="column col-3"></div>
    </div>
    </div>






  </body>
</html>