{% extends "layout.html" %}
{% block content %}


<div class="docs-demo columns">
{% for menu in menus %}

<div class="column col-4 col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">
                <a href="menu/{{menu.year}}/{{menu.week}}"> Uge {{menu.week}} {{menu.year}} </a>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="column col-4 col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">
                <a href="menu/new"> + </a>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}