{% extends "layout.html" %}
{% block content %}


<div class="docs-demo columns">
{% for recipe in recipes %}

<div class="column col-4 col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">
                <a href="recipe/{{recipe.navn}}"> {{recipe.navn}} </a>
            </div>
            <div class="card-subtitle text-gray"> {{recipe.placering}}
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="column col-4 col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">
                <a href="recipe/new"> + </a>
            </div>
        </div>
    </div>
</div>


</div>

{% endblock %}