{% extends "layout.html" %}
{% block content %}

<form action="/recipe/{{recipe.navn}}" method="POST">

    <div class="form-group">
        <label style="width:20%;display:inline-block;">Navn</label>
        <input type="text" class="form-control" id="navn" name="navn" value="{{recipe.navn}}">
    </div>
    <div class="form-group">
        <label style="width:20%;display:inline-block;">Placering</label>
        <input type="text" class="form-control" id="placering" name="placering" value="{{recipe.placering}}">
    </div>
    <div class="form-group">
        <label style="width:20%;display:inline-block;">Antal</label>
        <input type="number" class="form-control" id="antal" name="antal" value="{{recipe.antal}}">
    </div>

    <h2> Ingredienser </h2>
    {% for ing, amount in recipe.ingredienser.items() %}
        <div class="form-group">
            <input type="text" name="name-{{loop.index}}" value="{{ing}}">
            <input type="number" name="amount-{{loop.index}}" value="{{amount.amount}}">
            <input type="text" name="unit-{{loop.index}}" value="{{amount.unit}}">
        </div>
    {% endfor %}
    <div class="form-group">
        <input type="text" name="name-new">
        <input type="number" name="amount-new">
        <input type="text" name="unit-new">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Gem</button>
    </div>
</form>

{% endblock %}